@page
@model WebApp.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.CustomerId" class="control-label"></label>
                <select asp-for="Booking.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.TourId" class="control-label"></label>
                <select asp-for="Booking.TourId" class ="form-control" asp-items="ViewBag.TourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Discount" class="control-label"></label>
                <input asp-for="Booking.Discount" class="form-control" />
                <span asp-validation-for="Booking.Discount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.PaymentStatus" /> @Html.DisplayNameFor(model => model.Booking.PaymentStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.TripDate" class="control-label"></label>
                <input asp-for="Booking.TripDate" class="form-control" />
                <span asp-validation-for="Booking.TripDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PaymentDate" class="control-label"></label>
                <input asp-for="Booking.PaymentDate" class="form-control" />
                <span asp-validation-for="Booking.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
